:root {
  --primary-color: #3e8bff;
  --secondary-color: #0e8bff;
  --tertiary-color: #b4c9ff;
  --quaternary-color: #2c3a50;

  --font-color-black : #000;
  --font-color-white : #fff;

  --hover-color : #eea00f;

  --font-size-large : 30px;
  --font-size-medium : 25px;
  --font-size-regular : 18px;
  --font-size-small : 18px;
  --font-size-tiny-small : 14px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

/* Start Header */
.cmc-logo {
  width: 150px;
  margin: 20px 0;
  margin-left: 3rem;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  align-items: center;
  position: fixed;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar.sticky {
  height: 70px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  list-style-type: none;
  margin-top: 8px;
  position: relative;
}

.nav-item:last-child {
  margin-right: 3rem;
}

.nav-item .nav-link {
  text-decoration: none;
  font-size: var(--font-size-regular);
  color: var(--font-color-white);
  transition: all 0.2s ease;
  position: relative;
}

.nav-item .nav-link:hover {
  color: var(--hover-color);
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--hover-color);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-item .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.down-icon,
.up-icon {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.up-icon {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: var(--hover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: myani-bounceIn 1s ease 0s 1 normal none;
  /* animation: myAnimExit 2s ease 0s 1 normal forwards; */
}

#dropdown-toggle-box {
  display: none;
}

.toggle-icon {
  font-size: 35px;
  color: var(--font-color-white);
  position: relative;
  top: 0.3rem;
  margin-right: 30px;
}

@media screen and (max-width: 800px) {
  #dropdown-toggle-box {
    display: block;
  }

  .nav-menu {
    display: none;
  }
}

@keyframes myani-slideIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(300);
  }
}

@keyframes myani-bounceIn {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1500;
  padding-left: 4.5rem;
  padding-top: 3.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: #000;
}

.nav-link.black {
  color: #000;
}

#close-icon {
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 0;
}

.back-icon,
.forward-nav-icon {
  position: relative;
  top: 3px;
  right: 120px;
}

.back-icon {
  display: none;
}

@media screen and (max-width: 420px) {
  .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card img {
    width: 200px;
    margin-right: 3rem;
  }

  .card .img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .card h1,
  .card p {
    color: red;
    font-weight: bold;
    color: 16px;
  }

  .card h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .card #movie-title {
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
  }

  .card span {
    color: rgb(8, 44, 58);
    font-size: 16px;
  }

  #close-btn {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  .card h1,
  .card p {
    color: red;
    font-weight: bold;
    color: 16px;
  }

  .card h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .card #movie-title {
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
  }

  .card span {
    color: rgb(8, 44, 58);
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for tablets */
  .card {
    flex-direction: column;
  }

  .card img {
    width: 200px;
    margin-right: 3rem;
  }

  .card .img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

/* start tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding-top: 60px;
}

.tab {
  padding: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  position: relative;
  transition: 0.7s;
}

.tab:hover {
  background-color: #9bb7fd;
}

.tab.active {
  background-color: rgb(94 134 226);
}

.tab.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #6887d7ad;
}

.tab-content {
  padding: 20px;
  border: 1px solid var(--secondary-color);
  display: none;
}

.active {
  display: block;
}

.next-process-icon {
  position: absolute;
  right: -24px;
  width: 20px;
  height: 20px;
}

/* Media query for medium screens */
@media only screen and (min-width: 688px) and (max-width: 1050px) {
  .tab {
    font-size: 13px;
  }

  .next-process-icon {
    display: none;
  }
}
/* Media query for small screens */
@media only screen and (max-width: 687px) {
  .tabs {
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
  }

  .tab {
    display: none;
    margin: 5px;
  }

  .tab.active {
    display: inline-block;
  }

  .next-process-icon {
    display: none;
  }
}
/* end tabs */

/* start container section */
.container {
  background: rgb(255 255 255 / 70%);
  backdrop-filter: blur(5.4px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(217 208 208 / 75%);
  z-index: 10;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
}

.seat-container {
  max-width: 850px;
}

.mainbody {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.book-history-container {
  position: absolute;
  right: 0;
  bottom: 60px;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#moviePoster {
  width: 150px;
  margin-bottom: 10px;
}

#movieName {
  font-size: 24px;
  color: var(--quaternary-color);
  margin-top: 0;
}

.booking-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="date"],
input[type="time"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  transition: 0.5s;
}

/* back button */
#book-back {
  width: 40px;
  cursor: pointer;
}

/* start date and time */
#dates {
  display: flex;
  justify-content: space-evenly;
}

.no-show-time {
  padding: 11px;
  background-color: #6887d70a;
  color: rgba(83, 81, 81, 0.822);
  border-radius: 10px;
  text-align: center;
}

.select-date {
  width: 50px;
  padding: 1px 10px;
  opacity: 0.8;
  background-color: #99afe6;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.select-time {
  transition: all 0.3s ease-in;
}

.select-date.active,
.select-time.active {
  opacity: 1;
  background-color: #3e8bff;
  color: #eee;
  border-radius: 5px;
}

.select-time.disabled {
  color: #fff;
  pointer-events: none;
  cursor: not-allowed;
}

.select-time-container {
  display: flex;
  justify-content: center;
  padding: 1px;
  background-color: rgb(179 218 239);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.select-time {
  margin-right: 30px;
}

#book-time {
  margin: 10px;
}
/* end date and time */

/* cinema screen */
.cinema {
  width: 70%;
  height: 30px;
  border: 3px solid var(--quaternary-color);
  border-radius: 0 0 50% 50%;
  transform: perspective(500px) rotateX(20deg);
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 20px;
}

.seats-sample {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  pointer-events: none;
}

.seats-sample > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-price {
  margin-top: 5px;
  text-align: center;
}

/* start seat section */
.seat {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(245, 4, 4);
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  font-size: 13px;
  font-weight: bold;
}

[id^="A"] {
  border: 1px solid rgb(187, 1, 1);
  color: rgb(187, 1, 1);
}

[id^="B"] {
  border: 1px solid #027fb1;
  color: #027fb1;
}

[id^="C"],
[id^="D"] {
  border: 1px solid rgb(2, 163, 2);
  color: rgb(2, 163, 2);
}

[id^="E"],
[id^="F"],
[id^="G"],
[id^="H"] {
  border: 1px solid rgb(194, 126, 1);
  color: rgb(194, 126, 1);
}

/* Seats starting with L */
[id^="L"] {
  border: 1px solid rgb(188, 2, 163);
  color: rgb(188, 2, 163);
}

.row,
.left,
.middle,
.right {
  display: flex;
  justify-content: center;
}

.middle {
  margin: 0px 30px;
}

.couple-seat {
  width: 92px;
  margin-bottom: 40px;
}

.seat.active {
  border: 1px solid orange;
  background-color: orange;
  color: #fff;
}

.seat.booked {
  background-color: #f44336;
}
/* end seat section */

/* start seats status */
.seats-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seats-status > div {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.seats-status > div > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
  margin-bottom: 5px;
}

.seats-status > div > span {
  padding-bottom: 5px;
  text-align: center;
}

#available {
  background-color: rgba(255, 255, 255, 0.744);
}

#booked {
  background-color: #f44336;
}

#selected {
  background-color: #ff9800;
}

/* Responsive styles for medium screens */
@media only screen and (max-width: 741px) {
  .cinema {
    width: 90%;
    margin: 0 auto;
    padding-top: 3px;
    margin-bottom: 20px;
  }

  .seat {
    width: 25px;
    height: 25px;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 500;
  }

  .middle {
    margin: 0px 15px;
  }

  .couple-seat {
    width: 60px;
    margin-bottom: 30px;
  }

  .seats-status > div,
  .seats-sample > div {
    margin-right: 20px;
    font-size: 13px;
  }

  .seats-selected {
    display: none;
  }
}
/* Responsive styles for small screens */
@media only screen and (max-width: 481px) {
  .cinema {
    width: 100%;
    margin-bottom: 20px;
  }

  .seat {
    width: 20px;
    height: 20px;
    font-size: 8px;
    margin: 5px;
    line-height: 20px;
  }

  .middle {
    margin: 0px 10px;
  }

  .couple-seat {
    width: 50px;
    margin-bottom: 20px;
  }

  .seats-status > div,
  .seats-sample > div {
    margin-right: 15px;
    font-size: 10px;
  }

  .seats-selected {
    display: none;
  }
}
/* end seats status */

/* start selected seats section */
.seats-selected {
  position: absolute;
  top: 0;
  right: 20px;
  width: 300px;
  background: rgba(252, 252, 252, 0.71);
  backdrop-filter: blur(5.4px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(252, 251, 251, 0.094);
  z-index: 10;
  padding: 20px;
  margin-top: 177px;
}

.seats-selected h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.seats-selected table,
.selected-seats table,
.selected-food table {
  width: 100%;
  border-collapse: collapse;
}

.seats-selected th,
.seats-selected td,
.selected-seats th,
.selected-seats td,
.selected-food th,
.selected-food td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.subtotal-label {
  text-align: right;
  font-weight: bold;
}

.subtotal-amount {
  font-weight: bold;
}

.process-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.next-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#book-btn,
#food-btn,
#select-seats-button,
#select-food-button,
#confirm-btn,
#selected-verify-button,
#select-seats-back-button,
#cancel-all-btn,
#book-history-btn,
#ok-btn,
.next-select-food-btn,
.back-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

#book-btn:hover,
#food-btn:hover,
#select-seats-button:hover,
#select-food-button:hover,
#confirm-btn:hover,
#selected-verify-button:hover,
#select-seats-back-button:hover,
#cancel-all-btn:hover,
#book-history-btn:hover,
#ok-btn:hover,
.next-select-food-btn:hover,
.back-btn:hover {
  background-color: #0056b3;
}

#book-btn:active,
#food-btn:active,
#select-seats-button:active,
#select-food-button:active,
#confirm-btn:active,
#selected-verify-button:active,
#select-seats-back-button:active,
#cancel-all-btn:active,
#book-history-btn:active,
#ok-btn:active,
.next-select-food-btn:active,
.back-btn:active {
  transform: scale(0.95);
}

#cancel-all-btn {
  margin-right: 30px;
  color: #f8feb2;
  background-color: #ef3a17;
}

#cancel-all-btn:hover {
  background-color: #cf2504;
}

#book-btn:hover {
  background-color: #0056b3;
}

.disabled-button {
  background-color: #4b9ff9;
  color: #f7f4f4;
  cursor: not-allowed;
}

/* end selected seats section */

/* start alert section */
.alert-content {
  background-color: #dfdbdbdb;
  padding: 20px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.continue-btn,
.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continue-btn {
  background-color: #46a546;
  color: #f8efef;
  margin-right: 25px;
}

.cancel-btn {
  background-color: #f73737;
  color: #f8efef;
}

.cancel-btn:hover {
  background-color: #cc0000;
}
/* end alert section */

/* common box */
.alert-box,
.alert-seats,
.alert-book-history,
.finish-book {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
}

.finish-book {
  margin-top: 30px;
  color: #ddd;
}

.finish-content {
  text-align: center;
}

.finish-content h2,
.finish-content p {
  margin-bottom: 10px;
}

.finish-content a {
  display: inline-block;
  padding: 12px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.finish-content a:hover {
  background-color: #0056b3;
}

#warning {
  color: #ff000096;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .finish-book {
    width: 80%;
    max-width: 400px;
    padding: 20px;
  }

  .finish-content a {
    padding: 10px 20px;
    font-size: 14px;
  }

  #warning {
    font-size: 14px;
  }
}
/* end finish book section */

/* start confirmation tab */
.container {
  padding: 20px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--quaternary-color);
}

.details {
  margin-right: 50px;
  width: 350px;
}

.details tr {
  cursor: pointer;
}

.details h3 {
  margin-bottom: 10px;
}

.details .delete-icon {
  width: 18px;
  color: red;
}

.delete-icon-cell {
  width: 30px;
  text-align: center;
}

.delete-icon {
  display: none;
}

.selected-seats table tbody tr:hover .delete-icon {
  display: block;
}

.selected-seats th,
.selected-food th,
.seats-selected th {
  background-color: #f2f2f229;
}

#confirm .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confirm .details-container {
  margin-bottom: 20px;
}

#confirm .details {
  margin-bottom: 20px;
}

/* Responsive styles for medium screens */
@media only screen and (min-width: 580px) and (max-width: 841px) {
  .details-container {
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
  }

  .details {
    width: calc(50% - 4px);
    margin-right: 20px;
    margin-bottom: 0;
  }
}
/* Responsive styles for small screens */
@media only screen and (max-width: 581px) {
  .details-container {
    flex-direction: column;
    font-size: 13px;
  }

  .details {
    width: 100%;
    margin-right: 0;
  }

  .details.selected-seats,
  .details.selected-food {
    margin-bottom: 0;
  }

  .details table {
    margin: 0 auto;
  }

  .no-food {
    text-align: center;
  }

  .selected-seats table tbody tr .delete-icon,
  .selected-food table tbody tr .delete-icon {
    display: block;
  }
}
/* end confirmation tab */

/* start food section */
.foods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--quaternary-color);
}

.food-card {
  width: 200px;
  border: 1px solid #ad9a9a;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.food-image {
  display: flex;
  justify-content: center;
}

.food-card img {
  width: 150px;
  height: 130px;
  object-fit: contain;
  border-radius: 8px;
}

.food-details {
  margin-top: 10px;
}

.food-details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.food-desc {
  font-size: 15px;
}

.food-price {
  font-size: 16px;
  color: #666;
  margin-right: 20px;
  margin-top: 25px;
}

.no-food {
  background-color: #f2f2f229;
  color: var(--quaternary-color);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.no-food::before {
  content: "🍿";
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-btn {
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.quantity-btn:active {
  transform: scale(0.95);
}

.quantity-input {
  width: 30px;
  padding: 5px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #bbd6f3;
  border-radius: 5px;
  color: #3f3f3f;
}

.quantity-input:focus {
  outline: none;
}
/* end food section */

/* start booking history */
.booking-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.booking-item h2 {
  margin-top: 0;
}

.booking-item > p {
  margin: 2px;
}

.alert-book-history {
  width: 35%;
}

.no-history-message {
  font-size: 18px;
  color: var(--quaternary-color);
  margin-top: 10px;
}

/* Responsive style for medium screens */
@media screen and (max-width: 768px) {
  .alert-book-history {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
/* end booking history */

/* Start Footer Section */

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-color);
}

.left-footer {
  display: flex;
  flex-direction: column;
}

.right-footer {
  display: flex;
}

.footer-text {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

.footer-text:hover {
  color: var(--hover-color);
}

.left-footer {
  display: flex;
  flex-direction: column;
}

.right-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  .footer-text {
    font-size: 1rem;
  }
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for tablets */
  .footer-text {
    font-size: 1.2rem;
  }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 992px) {
  /* CSS rules for laptops and desktops */
  .footer-text {
    font-size: 1.3rem;
  }
}
/* End Footer Section */
