@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inria+Sans&family=Jomolhari&family=Istok+Web&family=Kanit&family=Jura:wght@300..700&display=swap');

:root {
    --primary-color: #3E8BFF;
    --secondary-color: #0E8BFF;
    --tertiary-color: #B4C9FF;
    --quaternary-color: #2C3A50;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.body_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--quaternary-color);
    z-index: -1;
}

.body_background .background_img_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background_img_container img {
    position: absolute;
}

.background_img_container img:nth-child(2) {
    bottom: 0;
    right: 0;
}

.background_img_container img:nth-child(3) {
    bottom: 2%;
    right: 30%;
    z-index: 1;
}

.background_img_container img:nth-child(4) {
    bottom: 2%;
    left: 0;
}

.background_img_container img:nth-child(5) {
    bottom: 50%;
    right: 2%;
}

.background_img_container img:nth-child(6) {
    bottom: 50%;
    right: 50%;
}

.background_img_container img:nth-child(7) {
    top: 20%;
    left: 2%;
    z-index: 1;
}

.background_img_container img:nth-child(8) {
    top: 2%;
    left: 40%;
    z-index: 1;
}

.background_img_container img:nth-child(9) {
    top: 0%;
    left: 0%;
}

.background_img_container img:nth-child(10) {
    top: 0%;
    left: 0%;
}

.background_img_container img:nth-child(11) {
    top: 4%;
    right: 0%;
}



.main_secreen {
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(5.4px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.4px);
    z-index: 10;
    position: relative;
    width: 90%;
    /*todo Change Marge Day */
    /* margin-top: 5%; */ 
}

.progress_bar {
    width: 100%;
    height: 10px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.progress_bar .circle {
    width: 22px;
    height: 20px;
    border-radius: 100%;
    position: relative;
}

.circle::after {
    position: absolute;
    bottom: -25px;

    font-size: 1rem;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    color: var(--tertiary-color);
}

.circle1 {
    background-color: var(--primary-color);
}

.circle1::after {
    content: "checkout";
    right: -25px;
}

.circle2 {
    background-color: white;
}

.circle2::after {
    content: "Paid";
    right: -5px;
}

.circle3 {
    background-color: white
}

.circle3::after {
    content: "Payment Success";
    right: -70px;
    width: 145px;
}

.progress_bar .line {
    height: 50%;
    width: 50%;
    background-color: white;
    position: relative;
    /* filter: ; */
}

.progress_bar .line:nth-child(2)::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

}

.progress_bar .line.active{
    animation: activeLine 1s linear forwards;
}


/* Main Section Start */

/* todo change display */
.container {
    margin-top: 2%;
    display: flex;
    /* display: none; */
}


.container .container_left {
    padding: 0 2%;
}

.container_left .movie_detail_container h1,
.container_left .payment_method_container h1 {
    font-family: "Kanit", sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 1% 0;
    color: white;
}

.movie_detail {
    width: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.movie_detail .movie_poster {
    width: 30%;
}

.movie_detail .movie_des {
    width: 100%;
    margin: 0 2%;
}

.movie_detail .movie_des span {
    display: flex;
}

.movie_des span p {
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    color: white;
}

.movie_des span p:first-child {
    margin-right: 2%;
}


.movie_des span p:last-child {
    font-weight: bold;
}

.payment_method_container .payment_methods {
    padding: 0 2%;
}

.payment_methods .bank_pay,
.payment_methods .mobile_pay {
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-radius: .5vmax;
    margin: 2% 0;
    transition: all .2s;
    cursor: pointer;
}

.payment_methods .bank_pay:hover,
.payment_methods .mobile_pay:hover {
    /* background-color: var(--primary-color); */
    transform: scale(1.1);
}

.payment_methods .bank_pay[click='true'],
.payment_methods .mobile_pay[click='true'] {
    background-color: var(--primary-color);
}

.bank_pay p,
.mobile_pay p {
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: var(--primary-color);
    transition: all .2s;
}

.payment_methods .bank_pay[click='true'] p,
.payment_methods .mobile_pay[click='true'] p {
    color: white;
}


.payment_methods .bank_pay[click='true'] path,
.payment_methods .mobile_pay[click='true'] path {
    fill: white;
}

.bank_pay svg,
.mobile_pay svg {
    width: 7%;
}

.bank_pay svg {
    margin-left: 50%;
}

.mobile_pay svg {
    margin-left: 47%;
}

.container .container_right {
    padding: 0 2%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_right .payment_detail_container {
    background-color: var(--primary-color);
    width: 80%;
    height: 90%;
    border-radius: .5vmax;
    text-align: center;
    position: relative;
}

.payment_detail_container::before,
.payment_detail_container::after {
    content: '';
    width: 80px;
    height: 80px;
    background-color: rgb(84, 95, 113);
    position: absolute;
    bottom: 20%;
    border-radius: 100%;
}

.payment_detail_container::before {
    left: -11%;
}

.payment_detail_container::after {
    right: -11%;
}

.payment_detail_container .split_line {
    position: absolute;
    bottom: 28%;
    left: 12%;
    width: 76%;
    border: 3px dotted white;
}

.payment_detail_container h1 {
    font-family: "Jura", sans-serif;
    text-transform: capitalize;
    color: white;
    margin: 5% 0;
}

.payment_detail_container .payment_detail {
    text-align: center;
}

.payment_detail_container .payment_detail span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payment_detail p {
    margin: 1%;
    font-size: 1rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.849);
    font-family: "Inter", sans-serif;
    font-weight: light;

}

.payment_detail p:first-child {
    width: 45%;
    margin: 2% 10%;
    text-align: start;
}

.payment_detail .total_result p {
    font-weight: bold;
    font-size: 1.4rem;
}

.payment_detail_container .paynow_btn {
    position: absolute;
    width: 80%;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.8rem;
    font-family: "Jomolhari", serif;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 2% 10%;
    border: none;
    font-weight: lighter;
    border-radius: .5vmax;
    cursor: pointer;
    transition: all .2s;
}

.payment_detail_container .paynow_btn:hover {
    background-color: var(--tertiary-color);
    color: white;
}

/* Payment Provider Start */
.main_secreen .payment_provider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    width: 50%;
    height: 95%;
    flex-wrap: wrap;
    border-radius: .5vmax;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 10;
}

.main_secreen .payment_provider_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 1vmax;
    background: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(1px);
    display: none;
}

.payment_provider .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_provider .header .fa-solid {
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;
}

.payment_provider .header .fa-solid:hover {
    color: gray;
}

.payment_provider h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin: 5% 10%;
}

.payment_provider img {
    filter: grayscale(100%);
    cursor: pointer;
    transition: all .2s;
}

.payment_provider img:hover {
    transform: scale(1.1);

}
.payment_provider img.active{
    filter: grayscale(0);
}


.payment_provider .bank:nth-child(1) {
    margin: 2% 5%;
}

.payment_provider .bank:nth-child(2) {
    margin: 2% 5%;

}

.payment_provider .bank:nth-child(3) {
    margin: 2% 0%;
}

.payment_provider .bank:nth-child(4) {
    margin: 5% 16%;
}

.payment_provider .bank:nth-child(5) {
    margin: 5%;
}


.payment_provider .mobile:nth-child(1) {
    margin: 2% 5%;
}

.payment_provider .mobile:nth-child(2) {
    margin: 2% 20%;
}

.payment_provider .mobile:nth-child(3) {
    margin: 2% 0%;
}

.payment_provider .mobile:nth-child(4) {
    margin: 2% 4%;
}


.payment_provider .mobile:nth-child(5) {
    margin: 2% 6%;
}

.payment_provider .mobile:nth-child(6) {
    margin: 2% 0%;
}

.payment_provider .mobile:nth-child(7) {
    margin: 0 16%;
}

.payment_provider .mobile:nth-child(8) {
    margin: 0 0%;
}


.payment_provider .user_info_input {
    width: 100%;
    text-align: center;
}

.user_info_input .des {
    text-transform: capitalize;
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}


.user_info_input input {
    font-size: 1.1rem;
    padding: 2% 1%;
    text-align: center;
    border: 1px solid var(--quaternary-color);
    border-radius: .5vmax;
    margin: 0 2%;
    font-family: "Inria Sans", sans-serif;

}

.user_info_input input::placeholder {
    color: var(--quaternary-color);
}

.user_info_input input:active {
    border: 1px solid var(--secondary-color);
}

.user_info_input .input_btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Inria Sans", sans-serif;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 2% 5%;
    border-radius: .5vmax;
    margin-top: 1.5%;
    cursor: pointer;
}

.user_info_input .input_btn:hover {
    background-color: #0e8bff8e;
}


/* todo change display */
.payout_container{
    display: none;
    width: 100%;
    text-align: center;
}


.payout_container .ticket_container{
    margin: 9% auto 2% auto;
    width: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: .5vmax;
}

.payout_container .ticket_container::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #545f71;
    position: absolute;
    bottom: 20%;
    left: -8%;
}

.payout_container .ticket_container::before{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #545f71;
    position: absolute;
    bottom: 20%;
    right: -8%;
}


.payout_container .ticket_icon{
    position: absolute;
    top: -15%;
    width: 110px;
    height: 110px;
    padding: 1%;
    border-radius: 100%;
    background-color: #545f71;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payout_container .ticket_detail{
    width: 70%;
    padding: 2%;
}

.ticket_detail h1{
    text-align: center;
    margin-top: 15%;
    text-transform: capitalize;
    font-family: "Istok Web", sans-serif;
    color: white;
}

.ticket_detail .ticket_info{
   width: 100%;
   text-align: center;
}

.ticket_detail .ticket_info span{
    display: flex;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}
.ticket_info span p{
    margin: 1%;
    font-family: "Istok Web", sans-serif;
    text-transform: capitalize;
    color: white;

}
.ticket_info span p:first-child{
    width: 50%;
    text-align: start;
    padding-left: 10%;
    /* margin-left: 15%; */
}

.ticket_info span p:last-child{
    width: 100%;
    text-align: start;
    padding-left: 5%;

}

.payout_container .order_btn{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5% 5%;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: .5vmax;
    margin-bottom: 1%;
    transition: all .2s;
}

.payout_container .order_btn:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* todo change dispaly */
.payment_success_container{
    display: none;
    width: 100%;
    height: 70vh;
    margin: 3% auto .5% auto;
    text-align: center;
}

.payment_success_container .success_icon_container{
    background-color: #0e8bff50;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
}

.payment_success_container .success_icon_container::after{
    content: '';
    width:200px;
    height:200px;
    position: absolute;
    top: calc(300px - 250px);
    left:  calc(300px - 250px);
    background-color: #0e8bff87;
    border-radius: 100%;
}

.success_icon_container .success_circle{
    width: 40%;
    height: 40%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    z-index: 10;
}

.payment_success_container h1{
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    color: white;
}

.payment_success_container .ticket_download{
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    padding:  2%;
    border-radius: .5vmax;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    transition: all .2s;
    cursor: pointer;
}

.payment_success_container .ticket_download:hover{
    color: var(--secondary-color);
    background-color: white;
    border: 1px solid var(--secondary-color);
}

/* .payment_success_container .ticket_download i{
    padding-left: 1%;
} */