@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inria+Sans&family=Jomolhari&family=Istok+Web&family=Kanit&family=Jura:wght@300..700&display=swap');

:root {
    --primary-color: #3E8BFF;
    --secondary-color: #0E8BFF;
    --tertiary-color: #B4C9FF;
    --quaternary-color: #2C3A50;

    --font-color-black: #000;
    --font-color-white: #fff;

    --hover-color: #eea00f;

    --font-size-large: 30px;
    --font-size-medium: 25px;
    --font-size-regular: 18px;
    --font-size-small: 18px;
    --font-size-tiny-small: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    overflow-y: scroll;

}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.main_secreen {
    background: rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.4px);
    z-index: 10;
    position: relative;
    width: 90%;
    /*todo Change Marge Day */
    padding: 2%;
    margin: 7% auto 2% auto;
    overflow: hidden;
}

.progress_bar {
    width: 100%;
    height: 10px;
    /* margin-top: 2%; */
    margin: 2% 0;
    display: flex;
    align-items: center;
    padding: 0 10%;
    /* overflow: hidden; */

}

.progress_bar .circle {
    width: 22px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    /* overflow: hidden; */

}

.circle::after {
    position: absolute;
    bottom: -25px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    color: var(--tertiary-color);
}

.circle1 {
    background-color: var(--primary-color);
    margin: 0 0 0 2%;
}

.circle1::after {
    content: "checkout";
    right: -25px;
}

.circle2 {
    background-color: white;
}

.circle2::after {
    content: "Paid";
    right: -5px;
}

.circle3 {
    background-color: white
}

.circle3::after {
    content: "Payment Success";
    right: -70px;
    width: 145px;
}

.progress_bar .line {
    height: 50%;
    width: 50%;
    background-color: white;
    position: relative;
    /* filter: ; */
}

.progress_bar .line[line='active']::after {
    content: '';
    /* width: 0%; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    animation: activeLine .2s linear forwards;
}

@keyframes activeLine {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* Main Section Start */
/* todo change display */
.container {
    margin-top: 2%;
    display: flex;
    /* display: none; */
}


.container .container_left {
    padding: 0 2%;
}

.container_left .movie_detail_container h1,
.container_left .payment_method_container h1 {
    font-family: "Kanit", sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 1% 0;
    color: white;
}

.movie_detail {
    width: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.movie_detail .movie_poster {
    width: 30%;
}

.movie_detail .movie_des {
    width: 100%;
    margin: 0 2%;
}

.movie_detail .movie_des span {
    display: flex;
}

.movie_des span p {
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    color: white;
}

.movie_des span p:first-child {
    margin-right: 2%;
}


.movie_des span p:last-child {
    font-weight: bold;
}

.payment_method_container .payment_methods {
    padding: 0 2%;
}

.payment_methods .bank_pay,
.payment_methods .mobile_pay {
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-radius: .5vmax;
    margin: 2% 0;
    transition: all .2s;
    cursor: pointer;
}

.payment_methods .bank_pay:hover,
.payment_methods .mobile_pay:hover {
    /* background-color: var(--primary-color); */
    transform: scale(1.1);
}

.payment_methods .bank_pay[click='true'],
.payment_methods .mobile_pay[click='true'] {
    background-color: var(--primary-color);
}

.bank_pay p,
.mobile_pay p {
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: all .2s;
}

.payment_methods .bank_pay[click='true'] p,
.payment_methods .mobile_pay[click='true'] p {
    color: white;
}


/* .payment_methods .bank_pay[click='true'] path,
.payment_methods .mobile_pay[click='true'] path {
    fill: white;
} */

.payment_methods .bank_pay[click='true'] svg,
.payment_methods .mobile_pay[click='true'] svg {
    display: none;
}

.bank_pay svg,
.mobile_pay svg {
    width: 7%;
}

.bank_pay .xmark,
.mobile_pay .xmark{
    background-color: white;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: .5vmax;
    color: red;
    transition: all .2s;
    display: none;
}

.payment_methods .bank_pay[click='true'] .xmark,
.payment_methods .mobile_pay[click='true'] .xmark{
    display: block;
} 

.bank_pay .xmark:hover,
.mobile_pay .xmark:hover{
    background-color: red;
    color: white;

}

.bank_pay svg,
.bank_pay .xmark {
    margin-left: 50%;
}

.mobile_pay svg ,
.mobile_pay .xmark{
    margin-left: 47%;
}


.container .container_right {
    padding: 0 2%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_right .payment_detail_container {
    background-color: var(--primary-color);
    width: 80%;
    height: 90%;
    border-radius: .5vmax;
    text-align: center;
    position: relative;
}

.payment_detail_container::before,
.payment_detail_container::after {
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 20%;
    border-radius: 100%;
    z-index: 1;
}

.payment_detail_container::before {
    background-color: #006aa2;
    left: -11%;
}

.payment_detail_container::after {
    background-color: #3f6697;
    right: -11%;
}

.payment_detail_container .split_line {
    position: absolute;
    bottom: 28%;
    left: 0;
    width: 100%;
    border: 3px dotted white;
    z-index: 0;
}

.payment_detail_container h1 {
    font-family: "Jura", sans-serif;
    text-transform: capitalize;
    color: white;
    margin: 5% 0;
}

.payment_detail_container .payment_detail {
    text-align: center;
}

.payment_detail_container .payment_detail span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payment_detail p {
    margin: 1%;
    font-size: 1rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.849);
    font-family: "Inter", sans-serif;
    font-weight: light;

}

.payment_detail p:first-child {
    width: 45%;
    margin: 2% 10%;
    text-align: start;
}

.payment_detail .total_result p {
    font-weight: bold;
    font-size: 1.4rem;
}

.payment_detail_container .paynow_btn {
    position: absolute;
    width: 80%;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.8rem;
    font-family: "Jomolhari", serif;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 2% 10%;
    border: none;
    font-weight: lighter;
    border-radius: .5vmax;
    cursor: pointer;
    transition: all .2s;
}

.payment_detail_container .paynow_btn:hover {
    background-color: var(--tertiary-color);
    color: white;
}

/* Payment Provider Start */
.main_secreen .payment_provider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    width: 50%;
    height: 95%;
    flex-wrap: wrap;
    border-radius: .5vmax;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    display: none;
    z-index: 10;
}

.main_secreen .payment_provider_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 1vmax;
    background: rgba(0, 0, 0, 0.774);
    backdrop-filter: blur(30px);
    display: none;
    z-index: 9;
}

.payment_provider .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_provider .header .fa-solid {
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;
}

.payment_provider .header .fa-solid:hover {
    color: gray;
}

.payment_provider h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin: 5% 10%;
}

.payment_provider img {
    filter: grayscale(100%);
    cursor: pointer;
    transition: all .2s;
}

.payment_provider img:hover {
    transform: scale(1.1);

}

.payment_provider img.active {
    filter: grayscale(0);
}


.payment_provider .bank:nth-child(1) {
    margin: 2% 5%;
}

.payment_provider .bank:nth-child(2) {
    margin: 2% 5%;

}

.payment_provider .bank:nth-child(3) {
    margin: 2% 0%;
}

.payment_provider .bank:nth-child(4) {
    margin: 5% 16%;
}

.payment_provider .bank:nth-child(5) {
    margin: 5%;
}


.payment_provider .mobile:nth-child(1) {
    margin: 2% 5%;
}

.payment_provider .mobile:nth-child(2) {
    margin: 2% 20%;
}

.payment_provider .mobile:nth-child(3) {
    margin: 2% 0%;
}

.payment_provider .mobile:nth-child(4) {
    margin: 2% 4%;
}


.payment_provider .mobile:nth-child(5) {
    margin: 2% 6%;
}

.payment_provider .mobile:nth-child(6) {
    margin: 2% 0%;
}

.payment_provider .mobile:nth-child(7) {
    margin: 0 16%;
}

.payment_provider .mobile:nth-child(8) {
    margin: 0 0%;
}


.payment_provider .user_info_input {
    width: 100%;
    text-align: center;
}

.user_info_input .des {
    text-transform: capitalize;
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}


.user_info_input input {
    font-size: 1.1rem;
    padding: 2% 1%;
    text-align: center;
    border: 1px solid var(--quaternary-color);
    border-radius: .5vmax;
    margin: 0 2%;
    font-family: "Inria Sans", sans-serif;

}

.user_info_input input::placeholder {
    color: var(--quaternary-color);
}

.user_info_input input:active {
    border: 1px solid var(--secondary-color);
}

.user_info_input .input_btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Inria Sans", sans-serif;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 2% 5%;
    border-radius: .5vmax;
    margin-top: 1.5%;
    cursor: pointer;
}

.user_info_input .input_btn:hover {
    background-color: #0e8bff8e;
}


/* todo change display */
.payout_container {
    display: none;
    width: 100%;
    text-align: center;
}


.payout_container .ticket_container {
    margin: 9% auto 2% auto;
    width: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: .5vmax;
}

.payout_container .ticket_container::after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(19 105 159);
    position: absolute;
    bottom: 20%;
    left: -8%;
}

.payout_container .ticket_container::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(21 105 158);
    position: absolute;
    bottom: 20%;
    right: -8%;
}


.payout_container .ticket_icon {
    position: absolute;
    top: -15%;
    width: 110px;
    height: 110px;
    padding: 1%;
    border-radius: 100%;
    background-color: rgb(0 106 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payout_container .ticket_detail {
    width: 70%;
    padding: 2%;
}

.ticket_detail h1 {
    text-align: center;
    margin-top: 15%;
    text-transform: capitalize;
    font-family: "Istok Web", sans-serif;
    color: white;
}

.ticket_detail .ticket_info {
    width: 100%;
    text-align: center;
}

.ticket_detail .ticket_info span {
    display: flex;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.ticket_info span p {
    margin: 1%;
    font-family: "Istok Web", sans-serif;
    text-transform: capitalize;
    color: white;

}

.ticket_info span p:first-child {
    width: 50%;
    text-align: start;
    padding-left: 10%;
    /* margin-left: 15%; */
}

.ticket_info span p:last-child {
    width: 100%;
    text-align: start;
    padding-left: 5%;

}

.payout_container .order_btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5% 5%;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: .5vmax;
    margin-bottom: 1%;
    transition: all .2s;
}

.payout_container .order_btn:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* todo change dispaly */
.payment_success_container {
    display: none;
    width: 100%;
    height: 70vh;
    margin: 3% auto .5% auto;
    text-align: center;
}

.payment_success_container .success_icon_container {
    background-color: #0e8bff50;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
}

.payment_success_container .success_icon_container::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(300px - 250px);
    left: calc(300px - 250px);
    background-color: #0e8bff87;
    border-radius: 100%;
}

.success_icon_container .success_circle {
    width: 40%;
    height: 40%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    z-index: 10;
}

.payment_success_container h1 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    color: white;
}

.payment_success_container .ticket_download {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    padding: 2%;
    border-radius: .5vmax;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    transition: all .2s;
    cursor: pointer;
}

.payment_success_container .ticket_download:hover {
    color: var(--secondary-color);
    background-color: white;
    border: 1px solid var(--secondary-color);
}

 .alert_container {
    position: fixed;
    top: 13%;
    left: 35%;
    width: 30%;
    background: rgb(252, 50, 50);
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    font-size: .8rem;
    text-align: center;
    color: white;
    border-radius: 1vmax;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
    display: none;
    z-index: 10;
    margin: 1%;
}

/*! start nav bar */
.cmc-logo {
    width: 10%;
    margin: 20px 0;
    margin-left: 3rem;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all .3s ease;
}

.navbar.sticky {
    height: 70px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.nav-item {
    list-style-type: none;
    margin-top: 8px;
    position: relative;
}

.nav-item:last-child {
    margin-right: 3rem;
}

.nav-item .nav-link {
    text-decoration: none;
    font-size: var(--font-size-regular);
    color: var(--font-color-white);
    transition: all .2s ease;
    position: relative;
}

.nav-item .nav-link:hover {
    color: var(--hover-color)
}

.nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--hover-color);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-item .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.down-icon,
.up-icon {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.up-icon {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: var(--hover-color);
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: myani-bounceIn 1s ease 0s 1 normal none;
    /* animation: myAnimExit 2s ease 0s 1 normal forwards; */
}

#dropdown-toggle-box {
    display: none;
}

.toggle-icon {
    font-size: 35px;
    color: var(--font-color-white);
    position: relative;
    top: 0.3rem;
    margin-right: 30px;
}

@media screen and (max-width: 800px) {
    #dropdown-toggle-box {
        display: block;
    }

    .nav-menu {
        display: none;
    }
}

@keyframes myani-slideIn {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(300);
    }
}

@keyframes myani-bounceIn {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1500;
    padding-left: 4.5rem;
    padding-top: 3.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: #000;
}

.nav-link.black {
    color: #000;
}

#close-icon {
    font-size: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 0;
}

.back-icon,
.forward-icon {
    position: relative;
    top: 3px;
    right: 120px;
}

.back-icon {
    display: none;
}

@media screen and (max-width: 420px) {
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 200px;
        margin-right: 3rem;
    }

    .card .img-box {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {

    .card h1,
    .card p {
        color: red;
        font-weight: bold;
        color: 16px;
    }

    .card h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .card #movie-title {
        font-size: 20px;
        font-weight: 900;
        color: var(--primary-color)
    }

    .card span {
        color: rgb(8, 44, 58);
        font-size: 16px;
    }

    #close-btn {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .card h1,
    .card p {
        color: red;
        font-weight: bold;
        color: 16px;
    }

    .card h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .card #movie-title {
        font-size: 20px;
        font-weight: 900;
        color: var(--primary-color)
    }

    .card span {
        color: rgb(8, 44, 58);
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* CSS rules for tablets */
    .card {
        flex-direction: column;
    }

    .card img {
        width: 200px;
        margin-right: 3rem;
    }

    .card .img-box {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

/* Start Footer Section */

.footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
}

.left-footer {
    display: flex;
    flex-direction: column;
}

.right-footer {
    display: flex;
}

.footer-text {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}

.footer-text:hover {
    color: var(--hover-color);
}

.left-footer {
    display: flex;
    flex-direction: column;
}

.right-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .footer-text {
        font-size: 1rem;
    }
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* CSS rules for tablets */
    .footer-text {
        font-size: 1.2rem;
    }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 992px) {

    /* CSS rules for laptops and desktops */
    .footer-text {
        font-size: 1.3rem;
    }
}

/* End Footer Section */
/*! end nav bar and footer */

@media screen and (max-width:1025px) {

    .main_secreen {
        width: 95%;
        margin: 10% auto 2% auto;

    }

    .container {
        margin-top: 4%;
    }

    .container_left .movie_detail_container h1,
    .container_left .payment_method_container h1 {
        font-size: 1.7rem;
    }

    .container_right {
        width: 65%;
    }

    .container_right span p {
        font-size: 1rem;
    }

    .container_right .total_result p {
        font-size: 1rem;
    }

    .payment_detail_container::before {
        left: -15%;
    }

    .payment_detail_container::after {
        right: -15%;
    }

    .bank_pay p,
    .mobile_pay p {
        font-size: 1.1rem;
    }

    .payment_provider h1 {
        font-size: 1.4rem;
    }

    .providers_container {
        margin: 10% 0;
    }

    .user_info_input .des {
        font-size: 1rem;
    }

    .alert_container {
        width: 40%;
        left: 30%;
    }

     .alert_container h1 {
        font-size: 1.3rem;
    }

    .payout_container .ticket_icon {
        top: -11%;
    }

    .payout_container .ticket_container {
        width: 65%;
    }

    .payment_success_container .success_icon_container {
        width: 250px;
        height: 250px;
    }

    .payment_success_container .success_icon_container::after {
        width: 180px;
        height: 180px;
        top: calc(285px - 250px);
        left: calc(285px - 250px);
    }

    .payment_success_container {
        margin: 5% 0;
    }
}


@media screen and (max-width:769px) {
    .main_secreen {
        margin: 13% auto 2% auto;

    }

    .cmc-logo {
        width: 15%;

    }


    .container {
        margin-top: 7%;
    }

    .container_left .movie_detail_container h1,
    .container_left .payment_method_container h1 {
        font-size: 1.2rem;
    }

    .movie_detail .movie_des span p {
        font-size: .9rem;
    }

    .bank_pay p,
    .mobile_pay p {
        font-size: .8rem;
    }

    .container_right .payment_detail_container {
        width: 100%;
        margin-right: 2%;
    }

    .payment_detail_container::before,
    .payment_detail_container::after {
        width: 60px;
        height: 60px;
    }

    .payment_detail_container::before {
        left: -15%;
    }

    .payment_detail_container::after {
        right: -15%;
    }

    .payment_detail_container .paynow_btn {
        font-size: 1.3rem;
    }

    .payment_detail span p {
        font-size: .7rem;
    }

    .container_right .total_result p {
        font-size: .8rem;
    }

    .payment_detail_container h1 {
        font-size: 1.3rem;
    }


    .payment_detail_container::before {
        background-color: #006aa2;
    }

    .payment_detail_container::after {
        background-color: #496695;
    }

    .main_secreen .payment_provider {
        width: 95%;
        height: 55%;
    }

    .payment_provider h1 {
        font-size: 1.1rem;
    }


    .user_info_input .des {
        font-size: .8rem;
    }

    .user_info_input input {
        margin: 2% 0;
    }

     .alert_container {
        width: 40%;
        left: 30%;
    }

     .alert_container h1 {
        font-size: 1.3rem;
    }


    .payout_container .ticket_icon {
        top: -10%;
        width: 95px;
        height: 95px;
    }

    .payout_container .ticket_container {
        width: 90%;
        margin: 13% auto 2% auto;
    }

    .ticket_detail h1 {
        font-size: 1.3rem;
    }

    .payout_container .ticket_container::after,
    .payout_container .ticket_container::before {
        background-color: rgb(70 102 150);
    }
}

@media screen and (max-width:426px) {

    .main_secreen {
        backdrop-filter: blur(0px);
        margin: 25% auto 2% auto;
    }

    .cmc-logo {
        width: 25%;

    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_left .movie_detail_container {
        margin-top: 5%;
    }

    .container_left .movie_detail_container .movie_detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .movie_detail span {
        padding-left: 10%;
    }

    .payment_methods .bank_pay,
    .payment_methods .mobile_pay {
        width: 100%;
    }

    .bank_pay p,
    .mobile_pay p {
        font-size: 1rem;
    }

    .container .container_right {
        margin-top: 5%;
        width: 72%;
    }

    .container_right .payment_detail_container {
        width: 100%;
        height: 20rem;
        margin-right: 2%;
    }

    .payment_detail span p {
        font-size: .8rem;
    }

    .container_right .total_result p {
        font-size: .9rem;
    }

    .circle::after {
        font-size: .8rem;
    }

    .progress_bar .circle {
        width: 24px;
    }

    .payment_detail_container::before {
        background-color: #346799;
    }

    .payment_detail_container::after {
        background-color: #336799;
    }

     .alert_container {
        width: 60%;
        left: 20%;
    }

     .alert_container h1 {
        font-size: 1rem;
    }

    .payout_container .ticket_icon {
        top: -9%;
        width: 85px;
        height: 85px;
    }

    .payout_container .ticket_container {
        width: 90%;
        margin: 20% auto 2% auto;
    }

    .ticket_detail h1 {
        font-size: 1.3rem;
        margin-top: 20%;
    }

    .payout_container .ticket_detail {
        width: 80%;
        padding: 2%;
    }

    .payout_container .ticket_container::after,
    .payout_container .ticket_container::before {
        background-color: rgb(70 102 150);
    }

    .payout_container .ticket_container::after {
        width: 65px;
        height: 65px;
    }

    .payout_container .ticket_container::before {
        width: 65px;
        height: 65px;
    }

    .ticket_info span p {
        font-size: .8rem;
    }

    .ticket_info span p:first-child {
        width: 100%;
        text-align: start;
        padding-left: 0%;
    }

    .payout_container .order_btn {
        font-size: 1.5rem;
    }

    .payment_success_container {
        /* height: 70%; */
        padding-top: 10%;
    }

    .payment_success_container .success_icon_container {
        width: 200px;
        height: 200px;
    }

    .payment_success_container .success_icon_container::after {
        width: 130px;
        height: 130px;
        top: calc(285px - 250px);
        left: calc(285px - 250px);
    }

    .payment_success_container {
        margin: 15% 0 0 0;
    }

    .payment_success_container h1 {
        font-size: 1.5rem;
    }

    .payment_success_container .ticket_download {
        font-size: 1.2rem;
        padding: 2% 5%;
    }
}