*{
    margin: 0;
    color: white;
    font-family: monospace;
    --clr-neon: hsl(0, 97%, 51%);
    --clr-neon-green: hsl(122, 94%, 51%);
}
body{
    width: 100%;
    background-color: black;
}
.header{
    vertical-align: middle;
    background-color: black;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header img{
    margin-left: 50px;
    height: 70px;
}
.right-header{
    display: flex;
    justify-content: center;
}
.booking,.movie-search,.about-us,.contact{
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
ion-icon{
    margin: auto;
}
.menu-icon{
    display: none;
}
.smoke-icon,.exit-icon{
    display: none;
}

.main-container{
    display: flex;
    margin: auto;
    align-items: center;
    width: 70%;
    border: 1px solid white;
}
.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 70vh;
    border: 1px solid white;
}
.booking-info{
    display: flex;
    border-radius: 5px;
    background-color: #323444;
    width: 80%;
    max-width: 450px;
    align-items: center;
    border: 1px solid white;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
}
.movie-poster{
    margin-top: 10px;
    width: 80%;
    max-width: 450px;
    display: flex;
    border: 1px solid white;
    justify-content: center;
    background-color: #323444;
    border-radius: 10px;

}
.movie-poster img{
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
}
.movie-info{
    width: 50%;
    height: 51vh;
    border: 1px solid white;
    position: relative;
}
.inner-movie-info{
    width: 80%;
    margin: auto;
    border: 1px solid white;
}
.btn-booking{
    background-color: green;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid green;
}
.show-time{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.3em;
}
#showTimes{
    font-weight: bold;
    font-size: 1em;
    background-color: transparent;
    border: none;
}
#showTimes option{
    background-color: black;
}
#showTimes:hover{
    cursor: grab;
}
.movie-name{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
}
.movie-release-date{
    font-size: 2.5em;
    margin-bottom: 5px;
    font-weight: bold;
}
.movie-genre{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.half-star{
    display: none;
}
.rating{
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
}
.synopsis{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5em;
}
.plot-summary{
    font-size: 1.5em;
    margin-bottom: 15px;
}
.director,.cast{
    font-size: 1.7em;
    margin-bottom: 20px;
}
.director-info{
    display: flex;
    align-items: center;
}
.director-info img{
    margin-top: 20px;
    width: 3vh;
    border-radius: 50%;
}
@media screen and (max-width:1168px) {
    .main-container{
        flex-direction: column;
    }
    .movie-info{
        width: 100%;
    }
}
@media screen and (max-width:1080px) {
    .booking-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .show-time{
        padding-bottom: 3px;
    }
    .btn-booking{
        width: 90%;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:1300px) {
    .text{
        transition: all 2s;
        display: none;
    }
    .icons{
        font-size: 4vh;
    }
}
@media screen and (max-width:900px) {
    .icons{
        display: none;
    }
    .menu-icon{
        display: block;
        margin-right: 50px;
        font-size: 5vh;
    }
}