*{
    margin: 0;
    color: white;
    font-family: monospace;
}
body{
    width: 100%;
    background-color: black;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    backdrop-filter: blur(10px);
}
.header{
    vertical-align: middle;
    background: rgb(19,22,23);
    background: linear-gradient(0deg, rgba(19,22,23,1) 25%, rgba(53,53,79,1) 79%);
    box-shadow: 0px 2px 18px 0px white;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header img{
    margin-left: 50px;
    height: 70px;
}
.right-header{
    display: flex;
    justify-content: center;
}
.booking,.movie-search,.about-us,.contact{
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
ion-icon{
    margin: auto;
}
.menu-icon{
    display: none;
}
.smoke-icon,.exit-icon{
    display: none;
}

.main-container{
    padding-top: 50px;
    display: flex;
    margin: auto;
    align-items: center;
    width: 70%;
    
}
.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.poster-container{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.booking-info{
    display: flex;
    border-radius: 5px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie-poster{
    margin-top: 10px;
    max-width: 450px;
    display: flex;
    justify-content: center;
}
.movie-poster img{
    border-radius: 10px;
    width: 95%;
}
.movie-info{
    font-size: 1em;
    width: 50%;
    position: relative;
}
.inner-movie-info{
    color: black !important;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: auto;
}
.btn-booking{
    background-color: green;
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    width: 92%;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid green;
}
.movie-name{
    color: black !important;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
}
.movie-release-date{
    color: black !important;
    font-size: 2.5em;
    margin-bottom: 5px;
    font-weight: bold;
}
.movie-genre{
    color: black !important;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.full-star{
    color: black !important;
}
.half-star{
    display: none;
}
.rating{
    color: black !important;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
}
.synopsis{
    color: black !important;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2em;
}
.plot-summary{
    color: black !important;
    font-size: 1.5em;
    margin-bottom: 15px;
    opacity: 0.8;
}
.name{
    font-weight: bold;
}
.director,.cast{
    color: black !important;
    font-size: 1.7em;
    margin-bottom: 20px;
}
.cast-info{
    display: flex;
    flex-direction: column;
}
.cast-info-container{
    display: flex;
    justify-content: flex-start;
}
.director-info,.cast-info{
    color: black !important;
    display: flex;
}
.director-text,.cast-text{
    color: black !important;
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 0.9em;
    font-weight: bold;
}
.cast-as{
    color: black;
}
.name{
    color: black !important;
}
.director-info img,.cast-info img{
    margin-top: 20px;
    width: 3vh;
    border-radius: 50%;
}
.cast-mid-text{
    margin-top: 3px;
    color: black;
    font-size: 0.8em;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0.7;
}
@media screen and (max-width:1168px) {
    .main-container{
        flex-direction: column;
    }
    .movie-info{
        width: 100%;
    }
}
@media screen and (max-width:1080px) {
    .booking-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .show-time{
        padding-bottom: 3px;
    }
    .btn-booking{
        width: 90%;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:1300px) {
    .text{
        transition: all 2s;
        display: none;
    }
    .icons{
        font-size: 4vh;
    }
}
@media screen and (max-width:720px) {
    .icons{
        display: none;
    }
    .menu-icon{
        display: block;
        margin-right: 50px;
        font-size: 5vh;
    }
}
.footer{
    margin-top: 50px;
    background: rgb(19,22,23);
    background: linear-gradient(0deg, rgba(19,22,23,1) 25%, rgba(53,53,79,1) 79%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 12px 0px white;
}
.left-footer{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}
.right-footer{
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.footer-text{
    font-size: 1.5em;
    text-decoration: none;
}